[flake8]
max-line-length = 100
extend-ignore =
    E203,  # whitespace before ':'
    E501,  # line too long (handled by black)
    W503,  # line break before binary operator
    F401,  # imported but unused (already handled)
    F403,  # star import used
exclude =
    .git,
    __pycache__,
    build,
    dist,
    *.egg-info,
    .venv,
    venv,
    .tox,
per-file-ignores =
    __init__.py:F401
    gui/constants.py:F403,F405
