html, body{
    height:100%;
    overflow:hidden;
}
body {
	position: absolute;
    width: 100%;
    font-size: 16px;
    margin: 0;
    z-index: 5;
    left: 0;
    top: 0;
}
#messageTip{
    height: 100%;
    overflow-y: scroll;
    padding-top: 2rem;
    box-sizing: border-box;
}
.emptyPadding{
	width: 100%;
	height: 7.5rem;
	background: white;
}
#messageTitle {
    font-size: 1.2rem;
    border-bottom: 1px solid #A9A9A9;
    text-align: center;
    background-color: #ffffff;
    line-height: 2rem;
    position: absolute;
    width: 100%;
    z-index: 10;
}

#messageTitle img {
    color: #A9A9A9;
    float: right;
    margin-top: 8px;
    margin-right: 10px;
}

#problemDiv {
    height: 50px;
    padding-top: 0.5rem;
    padding-left: 1rem;
}

#problemTitle {
    font-weight: bold;
    line-height: 1.45rem;
}

.problemTip {
    color: #999999;
    font-size: 0.85rem;
}

ul {
    margin: 0;
    border-bottom: 1px solid #A9A9A9;
}

ul li {
    list-style-type: none;
    margin-left: -25px;
    padding-top: 15px;
}

ul li:nth-child(1) {
    margin-bottom: 5px;
}

ul li:nth-child(2) {
    margin-bottom: 25px;
}

ul li span {
    height: 20px;
    color: #a8a8a8;
}

ul li div {
    margin: 5px 0 0 25px;
    line-height: 1.5rem;
}

#problemNum {
    background: #0099ff;
    font-size: 0.75rem;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: #ffffff;
    margin-right: 0.2rem;
    transform: translateY(-1px);
}

#problemDetails {
    background-color: #ffffff;
}

#problemDetails li span:nth-child(2) {
    margin-left: 5px;
}

#problemDetails li.advice {
    margin-left: 0;
}
.adviceTittle{
	color: #999;
}
#problemDetails li.advice div {
    margin-left: 0;
}

.btn {
    width: 8rem;
    height: 30px;
    border: 1px solid #0099ff;
    border-radius: 3px;
    color: #0099ff;
    text-align: center;
    line-height: 30px;
}
.btn.en{
	width: 130px;
}

.btn:active {
    opacity: 0.5;
}

#setting {
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #A9A9A9;
    width: 100%;
    height: 7.5rem;
}

#settingTitle {
    font-size: 1rem;
    border-bottom: 1px solid #f1f1f1;
    height: 2rem;
    line-height: 2rem;
    text-indent: 20px;
}

#setting div:nth-child(2) {
   height: 2rem;
   line-height: 2rem;
   text-indent: 15px;
}

#btnOk {
    width: 100%;
    height: 2rem;
    font-size: 1.25rem;
    background-color: #0099ff;
    color: #ffffff;
    text-align: center;
    line-height: 2rem;
    margin: 0 auto;
}

#btnOk:active {
    opacity: 0.5;
}

#successTip {
   margin: 200px auto 0;
   text-align: center;
   line-height: 30px;
   vertical-align: middle;
}

#successTip img {
    width:30px;
    height:30px;
    margin-right: 20px;
    transform: translateY(10px);
}

.rebootMask{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 100;
	display: none;
}

#rebootDialog{
	width: 20rem;
	height: 7rem;
	position: absolute;
	background: white;
	top: 15rem;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	padding-top: 2rem;
}
.rebootText{
	line-height: 30px;
}
.rebootBtn{
	display: inline-block;
	padding: 5px 3rem;
	color: white;
	background: #0099ff;
	margin: 25px 5px 0 5px;
	cursor: pointer;
}

#tvMessage{
	font-size: 0.85rem;
	color: red;
}
